@charset "UTF-8";
@font-face{
    font-family:'titulos';
    src: url(../fontes/WorkSans-VariableFont_wght.ttf) format('opentype');
    font-weight:normal;
    font-style:normal;
}

@font-face{
    font-family:'butons';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight:normal;
    font-style:normal;
}

:root {
   --cor1: #a9f3fe;
   --cor2: #75f5fa;
   --cor3: #00ffff;
   --cor4: #02c7ce;
   --cor5: #07595c;
   --cor6: #001a24;
}

*{
   margin: 0px;

}

/*style header*/

header{
   background-image: linear-gradient(to top, var(--cor3), var(--cor5));
}

header > section > img{
   margin: 10px 10px;
}

header > nav{
   padding: 0px 10px 10px 50px; 
}

header > nav > .fb{
   margin: 5px 5px;
}

header > nav > .yb{
   margin: 5px 5px;
}

header > nav > .ig{
   margin: 5px 5px;
}

/*style body*/

body{
   background-color: var(--cor1);
}

body > main{
   margin: 5px 5px;
   background-color: rgb(255, 255, 255);
}

body > main > div{
   display: inline;
}

     
    