@charset "UTF-8";

/*
    Configurações gerais
*/

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'corpo';
    src: url(fontes/Poppins-Light.ttf) format(truetype);
}

@font-face {
    font-family: 'titulos';
    src: url(fontes/Poppins-Bold.ttf) format(truetype);
}

:root {

    --cor1: #a9f3fe;
    --cor2: #75f5fa;
    --cor3: #00ffff;
    --cor4: #02c7ce;
    --cor5: #07595c;
    --cor6: #001a24;

   --conteudo:'corpo';
   --destaques:'titulos';
}

/*
    Estilos corpoo
*/

body{
    font-family: var(--conteudo), sans-serif;
    background-image: url(/imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

/*
    Estilos docabeçalho
*/

header{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

/*Logotipo*/

h1.logo{
    color: white;
    font-size: 2em;
    margin-top: 9px;
}

h1.logo label{
    text-shadow: 0px 0px 8px var(--cor3);
    color: var(--cor3);
}

/*Lista de links*/

ul.links{
    margin-top: 12px;
    list-style: none;
}

ul.links li a{
    color: white;
    text-decoration: none;
    margin: 10px;
    letter-spacing: 1px;
}

ul.links a:hover{
    
    text-shadow: 0px 0px 10px var(--cor3);
    transition: all 0.3s ease;
    color: white;
    border-radius: 20px;
}

/*menu-bar*/

section#menu{
    margin-top: 4px;
    display: none;
}

img.menu{
    width: 40px;
    margin: 6px;
    margin-right: 25px;
    padding-bottom: 10px;
    display: none;
    cursor: pointer;
}

h1.logo>img{
    margin-top: 5px;
    margin-left: 25px;
}

